{{ define "main" }}
    <section class="section single">
        <div class="container">
            <div class="row sm-m-25px-b m-35px-b">
                <div class="col-md-12">
                    <div class="section-title">

                        {{ range .Paginator.Pages }}
                            <div class="relative w-100 w-30-l mb4 bg-white">
                                {{ .Render "summary" }}
                            </div>
                        {{ end }}
                    </div>

                </div>
                {{- template "_internal/pagination.html" . -}}
            </div>
        </div>
    </section>
{{ end }}