

{{ define "main" }}
  {{ $section := .Site.GetPage "section" .Section }}

        <section class="section single post">
            <div class="container">
                <div class="row sm-m-25px-b m-35px-b">
                    {{- partial "breadcrumbs.html" . -}}
                    <div class="col-md-12">
                        <div class="section-title">
                            <aside class="instapaper_ignoref b helvetica tracked">
                                {{ if not .Date.IsZero }}
                                    <time class="f6 mv4 dib tracked" {{ printf `datetime="%s"` (.Date.Format "2006-01-02T15:04:05Z07:00") | safeHTMLAttr }}>
                                        {{- .Date | time.Format (default "January 2, 2006" .Site.Params.date_format) -}}
                                    </time>
                                {{end}}
                            </aside>
                            <h3 class="dark-color text-uppercase">{{ .Title }}</h3>
                            <p class="text-uppercase small">
                                
                                {{ .TableOfContents }}
                                {{ .Content }}

                                <div class="btn-bar" style="margin-top:10px;">
                                    {{with .PrevInSection}}
                                        <a class="m-btn m-btn-theme" href="{{.Permalink}}">
                                            << Previous: {{.Title}}
                                        </a>
                                    {{end}}
                                    {{with .NextInSection}}
                                        <a class="m-btn m-btn-theme" style="float:right;" href="{{.Permalink}}">
                                            Next: {{.Title}} >>
                                        </a>
                                    {{end}}
                                </div>
                            </p>

                        </div>
                    </div>
                </div>

            </div>
        </section>

{{ end }}