{{ define "main" }}
<div class="main-left">
    <!-- resume -->
    <section id="services" class="section gray-bg">
        <div class="container">
            {{ range first 1 (where (where .Site.Pages "Section" "experience") ".Title" "==" "Experience" ) }}
                {{ partial "home/section-title.html" (dict "Title" .Title "SubTitle" .Params.Summary)  }}
            {{ end }}
            {{.Content}}
            <div class="row">
                <!-- feature box -->

                    {{ range ((.Paginator 6).Pages.ByParam "EndDate") }}
                        {{ .Render "summary" }}
                    {{ end }}

                </div>
        </div>
    </section>
</div>
<!-- End resume -->
{{- template "_internal/pagination.html" . -}}
{{ end }}