    <link href="/plugin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/plugin/font-awesome/css/all.min.css" rel="stylesheet">
    <link href="/plugin/et-line/style.css" rel="stylesheet">
    <link href="/plugin/themify-icons/themify-icons.css" rel="stylesheet">
    <link href="/plugin/owl-carousel/css/owl.carousel.min.css" rel="stylesheet">
    <link href="/plugin/magnific/magnific-popup.css" rel="stylesheet">
    <link href="/plugin/flag-icons-main/css/flag-icons.min.css" rel="stylesheet">
    <!-- theme css -->
    <link href="/style/master.css" rel="stylesheet">
    <link href="/style/leaflet.css" rel="stylesheet">