{{/* For Users's overwrite */}}

<!-- jquery -->
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/jquery-migrate-3.0.0.min.js"></script>
<!-- end jquery -->
<!-- appear -->
<script src="/plugin/appear/jquery.appear.js"></script>
<!-- end appear -->
<!--bootstrap-->
<script src="/plugin/bootstrap/js/popper.min.js"></script>
<script src="/plugin/bootstrap/js/bootstrap.js"></script>
<!--end bootstrap-->
<!-- End -->

<script>
    const typeStrings = [
    "Lead Software Engineer",
    "Cyclist",
    "Tinkerer",
    ];
</script>
<!-- end -->

<!-- custom js -->
<script src="/js/custom.js"></script>
<script src="/js/ls.bgset.min.js"></script>
<script src="/js/lazysizes.min.js"></script>
<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
   integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
   crossorigin=""></script>